/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto; /* Общий скролл для страницы */
}

.container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px; /* Отступы для скролла */
}

h1, h2 {
    color: #2c3e50;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
     margin-bottom: 5px;
     margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.result p {
    margin: 5px 0;
    font-size: 14px;
}

/* Стили для архива */
#archiveResult {
    margin-top: 20px;
    max-height: 350px; /* Ограничение высоты архива */
    overflow-y: auto; /* Скролл внутри архива */
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.archive-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.archive-item h3 {
    margin-top: 0;
}

/* Стили для кнопки "Закрыть архив" */
#closeArchiveButton {
    width: 100%;
    padding: 10px;
    background-color: #f44336; /* Красный цвет */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#closeArchiveButton:hover {
    background-color: #d32f2f; /* Темно-красный цвет при наведении */
}
